<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MiraiBotServerFile" value="E:/Mirai.Net/mcl.cmd" />
    <add key="MiraiBotServerUrl" value="127.0.0.1:8095" />

    <add key="StartSendTimeSpan" value="07:30" />
    <add key="EndSendTimeSpan" value="23:30" />
    
    <!--优惠券获取地址-->
    <add key="CouponSerUrl" value="https://localhost:44359/api" />
    <!--发送QQ定时默认间隔-->
    <add key="FriendTimerInterval" value="300" />
  </appSettings>
</configuration>