<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MiraiBotServerFile" value="E:/Mirai.Net/mcl.cmd" />
    <add key="MiraiBotServerUrl" value="127.0.0.1:8095" />
    <!--优惠券获取地址-->
    <add key="CouponSerUrl" value="https://www.51softwarebox.com/api" />
    <!--发送QQ定时默认间隔-->
    <add key="FriendTimerInterval" value="300" />
  </appSettings>
</configuration>